<script>
$(document).ready(function(){
    $("button[name|='asignar']").toggle();
    $("select[name|='servicio']").toggle();
});
function selector(id){
    $('#asignar'+id).toggle();
    $('#editar'+id).toggle();
    $('#servicio'+id).toggle();
    $('#label'+id).text($("#servicio"+id+" option:selected").text()).toggle();  
    };

</script>
#################### Colores##########################
rojo :  

<div class="col-md-6" style="padding-left: 0px">
							
<div class="scenter">
								
 <select name="sources" id="sources" class="custom-select sources" placeholder="Cargo" style="width: 296px;height: 70px">
<option value="profile" disabled>Cargo</option>
<option value="word">Word</option>
<option value="hashtag">Hashtag</option>
</select>
</div>
</div>

al crear una migracion 
$table->enum('cargo',['presidente','yo']);

campos opcionales 
nullable();
valor entero sin signo unsigned();
convencion de las claves foraneas singular_id
$table->foreign('singular_id')->references('id')->on('tabla de referencia')->onUpdate('CASCADE')->onDelete('CASCADE');
ver routes que existen  php artisan route:list

http://codehero.co/laravel-4-desde-cero-eloquent-orm-ii/


espina de pescado html

<div class="container">
  <div class="linea1">
      <div class="pos1"><a href="http://google.com">101</a></div>
    <div class="pos1">101</div>
    <div class="pos1">102</div>
    <div class="pos1">103</div>
  </div>
  <div class="linea2">
  <div class="pos2">201</div>
    <div class="pos2">202</div>
    <div class="pos2">203</div>
    <div class="pos2">204</div>
  </div>
</div>

style espina de pescado
.container{
  background-color: pink;
  width: 300px;
  height: 400px;
}
.linea1{
  width: 100px;
  height: 100%;
  background-color: orange;
  display: inline-block;
 position: relative;
}
.linea2{
  width: 100px;
  height: 100%;
  background-color: blue;
  display: inline-block;
  //position: absolute;
}

.linea1 .pos1{
  width: 90%;
  border:1px solid ;
  height: 40px;
  transform: rotate(-45deg);
  margin-top: 30px;
  color:white;
}
.linea2 .pos2{
  width: 90%;
  border:1px solid ;
  height: 40px;
  transform: rotate(45deg);
  margin-top: 30px;
  color:white;
}


id  cedula  pnombre snombre papellido sapellido fnacimiento fingreso  cargo telefono  direccion usuario   password                                              password_confirmation                                 preguntas respuestas remember_token                         created_at  updated_at
1 21295782  Naudy   dasdas  dasdas    dasdasd   1991-03-13  0000-00-00  CCO 15665132  tarabana  leonardo  $2y$10$DoDASKf428tBU.10ktBRH.rWK/fEAEIX5NKfT2kt4EK... $2y$10$idVS/8AFPoEZjUyzzKpOTuAJ58Z.t7VckBWhZWFzZ.C... asdas     asdasd    qssYydx0s9XxqG8rCO8vfVxMbjLb5TzMjCIZxeLCdy97fTffo6... 2015-06-26 13:11:00 2015-06-30 20:55:28


select descripcion from opciones as o , usuario_opcions as uo where (o.id=uo.opcion_id) and(uo.user_id=1 )
use DB;
$variable = DB::table('nombretabla')->paginate(5);
$variable->setPath('nombretabla');
return view('vista',["nombredeunavariable"=>$variable]);


@inf(count($variable > 0)
  codigo html
  @foreach($varible as varible)
  @endforeach
  {{!! $variable->render !!}}  
@else
  codigo sino
@endif 

<div class="panel panel-default"><p>Hay {{ $unidades->total() }} Unidades</p></div>


controlador plano  no restfull --plain sin metodos



<!--
     @foreach($results as $result)
      <li>{{ $result->descripcion }}</li>
      @endforeach   
      
      ciclo opciones imprimir opciones-unidades

    -->

<!--
              <th>Potencia</th>
              <th>Kilometrje</th>
              <th>Cant. Personas</th>
              <th>Peso Maximo</th>
              <th>Fabricante</th>
              <th>Fecha de Frabri.</th>
              <th>Longitud</th>
              <th>Combustible</th>
              <th>Fecha de Registrado</th>
              <th>Ultima Actualizacion</th>
              -->

              <!--
              <td>{{ $unidad->potenciamotor }}</td>
              <td>{{ $unidad->kilometraje }}</td>
              <td>{{ $unidad->cantpersona }}</td>
              <td>{{ $unidad->pesomax }}</td>
              <td>{{ $unidad->fabricante }}</td>
              <td>{{ $unidad->ffabricacion }}</td>
              <td>{{ $unidad->longitud }}</td>
              <td>{{ $unidad->combustible }}</td>
              <td>{{ $unidad->created_at }}</td>
              <td>{{ $unidad->Update_at }}</td>
              -->






              <table class="table table-bordered table-striped ">
            <tr>
              <th>ID</th>
              <th>N° Identificacion</th>
              <th>VIM</th>
              <th>Serial de Carroceria</th>
              <th>Serial del Motor</th>
            </tr>
            @foreach($unidades as $unidad)
            <tr>
              <td>{{ $unidad->id}}</td>
              <td>{{ $unidad->nidentificacion}}</td>
              <td>{{ $unidad->vin}}</td>
              <td>{{ $unidad->serialcarroceria }}</td>
              <td>{{ $unidad->serialmotor }}</td>
            </tr>
            @endforeach 
          </table>  



          
  /*  if(!class_exists('SearchCurl'))
      { include 'SearchCurl.php';

 $curls = new \SearchCurl();
return $curls->SearchCNE('V',21295782);
//$curls->SearchCNE('V', 21295782);


      return "perro1"; }
/*
      Include("SearchCurl.php");
      $curl = new SearchCurl();
      return $curl->searchCNE('V',21295782);
*/

    /*



    git config --global user.name "Jaissel tale"
    git config --global user.email "correo"
    git init 
    git clone url 
    git checkout Jaissel 
    git status los cambios realizados
    git add .<> agregar esos cambios al repositorio
    git commit -m "" confirmar  el archivo en el repositorio
    git pull origin <branchs> actualizar el repositorio
    git push origin <branchs> subir al repositorio remoto 


    php artisan serve  inciar el sistema
    php artisan route:list  
    php artisan make:model;
    php artisan make:controller;
    php artisan make:request;
    php artisan migrate;
    php artisan db:seed;
    php artisan migrate:rollback;
    php artisan migrate:refresh;

    composer update 
    composer dump-autoload 

@foreach($parroquias as $parroquia)
            <option value="{{ $parroquia->id }}">{{ $parroquia->descripcion }}</option> 
          @endforeach   
