#################### Colores##########################
rojo :  

<div class="col-md-6" style="padding-left: 0px">
							
<div class="scenter">
								
 <select name="sources" id="sources" class="custom-select sources" placeholder="Cargo" style="width: 296px;height: 70px">
<option value="profile" disabled>Cargo</option>
<option value="word">Word</option>
<option value="hashtag">Hashtag</option>
</select>
</div>
</div>

al crear una migracion 
$table->enum('cargo',['presidente','yo']);

campos opcionales 
nullable();
valor entero sin signo unsigned();
convencion de las claves foraneas singular_id
$table->foreign('singular_id')->references('id')->on('tabla de referencia')->onUpdate('CASCADE')->onDelete('CASCADE');
ver routes que existen  php artisan route:list




espina de pescado html

<div class="container">
  <div class="linea1">
      <div class="pos1"><a href="http://google.com">101</a></div>
    <div class="pos1">101</div>
    <div class="pos1">102</div>
    <div class="pos1">103</div>
  </div>
  <div class="linea2">
  <div class="pos2">201</div>
    <div class="pos2">202</div>
    <div class="pos2">203</div>
    <div class="pos2">204</div>
  </div>
</div>

style espina de pescado
.container{
  background-color: pink;
  width: 300px;
  height: 400px;
}
.linea1{
  width: 100px;
  height: 100%;
  background-color: orange;
  display: inline-block;
 position: relative;
}
.linea2{
  width: 100px;
  height: 100%;
  background-color: blue;
  display: inline-block;
  //position: absolute;
}

.linea1 .pos1{
  width: 90%;
  border:1px solid ;
  height: 40px;
  transform: rotate(-45deg);
  margin-top: 30px;
  color:white;
}
.linea2 .pos2{
  width: 90%;
  border:1px solid ;
  height: 40px;
  transform: rotate(45deg);
  margin-top: 30px;
  color:white;
}