nav.navbar.colornav {
  background-color: #b71c1c;
}
.colornegro{
	color: black;
}

.panel-danger > .panel-heading {
  color: #FAF4F4;
  background-color: #b71c1c;
  border-color: #ebccd1;
}
.title{
	text-align: center;
}
.row.well.panel-body {
  border: 2px solid rgb(183, 28, 28);
  border-radius: 20px;
}

::-webkit-input-placeholder {
   color: red;
}